<ion-header>
  <ion-toolbar color="danger">
    <div class="div-header">
      <img
        src="../../../assets/icon/favicon.png"
        alt="pokedex"
        class="img-logo"
      />
      <ion-title style="margin: 0;">Pokédex</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="pokedex-content" scrollEvents="true" forceOverscroll="true">

  <!-- Filtro por Tipo -->
  <ion-segment [(ngModel)]="selectedType" (ionChange)="filterByType(selectedType)" scrollable="true">
    <ion-segment-button value="">Todos</ion-segment-button>
    <ion-segment-button *ngFor="let type of types" [value]="type.name">
      {{ type.name | titlecase }}
    </ion-segment-button>
  </ion-segment>

  <!-- Busca -->
  <ion-searchbar
    placeholder="Buscar Pokémon..."
    [(ngModel)]="searchTerm"
    (ionInput)="onSearchChange()">
  </ion-searchbar>

  <!-- Grid de Pokémons -->
  <div class="pokemon-grid">
    <div class="pokemon-card" *ngFor="let pokemon of displayedPokemons">
      <img
        [defaultImage]="'assets/img/placeholder.png'"
        [lazyLoad]="getPokemonImage(pokemon)"
        [errorImage]="'assets/img/placeholder.png'"
        alt="{{ pokemon.name }}"
      />
      <div class="pokemon-number">#{{ pokemon.id }}</div>
      <div class="pokemon-name">{{ pokemon.name | titlecase }}</div>
    </div>
  </div>

</ion-content>